@using Fiveplus.Kicker.Helpers
@using Fiveplus.Kicker.Models
@model Fiveplus.Kicker.Models.IndexViewModel

@{
    ViewBag.Title = "Profile & More";
    ViewBag.InitModule = "manageModule";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        return "Test Passing ASP.Net values to Angular as a service";
        // AntiForgery.GetTokens(null, out cookieToken, out formToken);
        //  return cookieToken + ":" + formToken;
    }
}




@section scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="~/ng-App/plugins/ng-flow-file-upload/flow.js"></script>
}

@section ngplugins
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

    <script type="text/javascript" src="~/ng-App/plugins/x-angular-limitTo.js"></script>
    <script src="~/ng-App/plugins/ng-flow-file-upload/ng-flow.js"></script>
    <script src="~/ng-App/plugins/ngAutocomplete.js"></script>
}

@section ngscripts
{
     <script src="~/ng-App/modules/manage/dataServices.js"></script>
    <script src="~/ng-App/modules/manage/manageModule.js"></script>
    
    <script>
        //Retained for refererence purpose only
        var manageModule = angular.module('@ViewBag.InitModule');
        manageModule.service('moduleConfigService', function () {
            this.antiForgeryToken = '@GetAntiForgeryToken()'
            this.moduleId = '@ViewBag.InitModule';
        });
    </script>


}


@section styles
{
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }

        .list-inline {
            font-weight: bold;
        }
    </style>
    <link href="~/assets/css/plugins/sky-forms.css" rel="stylesheet" />
    <link href="~/assets/css/plugins/custom-sky-forms.css" rel="stylesheet" />
    <link href="~/assets/css/pages/profile.css" rel="stylesheet" />
}
<div class="breadcrumbs">
    <div class="container margin-top-60">
        <h1 class="pull-left">@ViewBag.Title</h1>
        <ul class="pull-right breadcrumb margin-right-5">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/manage">Settings</a></li>
        </ul>
    </div><!--/container-->
</div>

<div class="tokenHolder" ng-controller="shellCtrl as shell" ng-cloak="" @Html.RequestVerificationToken()>
  <div class="profile-body margin-bottom-20">

        <div class="profile">
            <div class="container content">


                <div class="row">
                    
                   <!--Left Sidebar-->
                    <div ng-include="'ng-App/modules/manage/subpages/sidebar.html'" ng-controller="sidebarController as vm"></div>
                    <!--End Left Sidebar-->

                    <div class="col-md-9" ng-controller="indexController as vmIndex">

                        <div class="profile-body margin-bottom-20">
                            <cc-spinner-wrapper></cc-spinner-wrapper>
                            <div class="tab-v1">
                                <ul class="nav nav-justified nav-tabs">
                                    <li ng-repeat="tab in vmIndex.tabs"
                                        ng-class="{'active':tab.active}">
                                        <a data-toggle="tab" ng-href="{{tab.route}}" data-ng-click="vmIndex.selectedTab = tab.title">{{tab.title}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="profile-edit tab-pane fade in active">
                                        <div ui-view autoscroll="false" class="shuffle-animation"></div>

                                        <div class="row" ng-show="vmIndex.selectedTab==='Security'">
                                            <div class="col-md-12">
                                                @Html.Partial("ManageLogins", (Fiveplus.Kicker.Models.ManageLoginsViewModel)ViewBag.ManageLoginsViewModel)
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                               
                            </div>
                        </div>

                        <!--End Profile Body-->
                    </div>
                </div><!--/end row-->

            
            </div><!--/container-->
        </div>

        

    </div>

</div>