<!DOCTYPE html>
<html ng-app="@ViewBag.InitModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Only Five.</title>

    <link href="~/Content/global-style.css" rel="stylesheet" />
    <link href="~/Content/kicker.css" rel="stylesheet" />
    <link href="~/Content/less/navigation.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>
<body class="wp-theme-1 wp-theme-4" flow-prevent-drop>
    <div class="wrapper lw">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 style="float: left;color: #fff" class="margin-t-15">fiveplus</h3>
                        <nav class="top-header-menu padding-y-10" style="height: 61px!important">
                            <ul class="menu">
                                <li> @Html.Partial("_LoginPartial")</li>
                                <li class="shopping-cart dropdown animate-hover" data-animate="animated fadeInUp">
                                    <a href="shop-cart.html" title="View your shopping cart" style="padding-right:0;"><i class="fa fa-shopping-cart"></i><span class="amount">£0</span></a>

                                    <ul class="sub-menu animate-wr animated fadeInUp">
                                        <li>
                                            <div class="dropdown-cart">
                                                <span class="cart-items">You have <strong>3</strong> items in your cart</span>
                                                <table class="table table-cart">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="2">Product</th>
                                                            <th class="text-center">Qty</th>
                                                            <th>Total</th>
                                                        </tr>

                                                        <tr>
                                                            <td><img src="images/prv/product-3.png" class="img-center" alt=""></td>
                                                            <td><a href="">Asus Ultra Notebook</a></td>
                                                            <td class="text-center">2</td>
                                                            <td>$600.99</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="images/prv/product-2.png" class="img-center" alt=""></td>
                                                            <td><a href="">Mouse Microsoft</a></td>
                                                            <td class="text-center">3</td>
                                                            <td>$600.99</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="images/prv/product-4.png" class="img-center" alt=""></td>
                                                            <td><a href="">Samsung Galaxy S4</a></td>
                                                            <td class="text-center">1</td>
                                                            <td>$600.99</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="shop-cart.html" class="btn btn-xs btn-three">Edit cart</a>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="#" class="btn btn-xs btn-two pull-right">Proceed to checkout</a>
                                                        <span class="clearfix"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        @* Body Starts here *@
        @RenderBody()


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="col">
                            <h4>Contact us</h4>
                            <ul>
                                <li>7208 Abbey Road, Elkridge, MD - United States</li>
                                <li>Phone: +1 312-806-0919 </li>
                                <li>Email: <a href="mailto:biztalk@hyphenlabs.com" title="Email Us">biztalk@hyphenlabs.com</a></li>
                                <li>Buying & Selling made easier</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col">
                            <h4>Mailing list</h4>
                            <p>Sign up if you would like to receive occasional treats from us.</p>
                            <form class="form-inline">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Your email address...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-two" type="button">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col col-social-icons">
                            <h4>Follow us</h4>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="col">
                            <h4>About us</h4>
                            <p>
                                Sell for Five, Buy for Five..Give an High Five!
                                <br><br>
                                <a href="#" class="btn btn-two">Try it now!</a>
                            </p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-9 copyright">
                        2014 © Hyphen Labs LLC. All rights reserverd.
                        <a href="#">Terms of use</a> |
                        <a href="#">Privacy policy</a>
                    </div>
                    <div class="col-lg-3 footer-logo">

                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>

    <script type="text/javascript" src="https://code.angularjs.org/1.2.9/angular.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.9/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>

    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.ui.totop.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/custom/fiveplus.custom.js"></script>

    @* Angular Scripts *@
    <script src="~/ng-App/directives/directives.js"></script>
    <script src="~/ng-App/data/dataServices.js"></script>
    <script src="~/ng-App/filters/filters.js"></script>

    @RenderSection("myNgScripts", required: false)

    <a href="#" id="toTop" style="display: inline;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>
</body>
</html>
