@model Fiveplus.Kicker.Models.LoginViewModel
<!DOCTYPE html>
<html ng-app="@ViewBag.InitModule">
    
    <head>
        <style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        
       
        <meta charset="utf-8">
        <title>FivePlus - A way to make $5 or more</title>	
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="A way to make $5 or more">
        <meta name="author" content="Hyphenlabs">

        <!-- Styles -->	
        <link rel="stylesheet" href="~/assets/css/style.css">
        <link rel="stylesheet" href="~/assets/css/page_log_reg_v2.css">

        <link href="~/assets/landing/css/bootstrap.css" rel="stylesheet">
        <link href="~/assets/landing/css/main.css" rel="stylesheet">

        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700" rel="stylesheet" type="text/css">

        <!-- IE 9 Fallback-->
        <!--[if IE 9]>
            <link href="assets/css/ie.css" rel="stylesheet">
        <![endif]-->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements and IE Fallback-->
        <!--[if lt IE 9]>
            <script src="~/assets/landing/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="~/assets/landing/ico/favicon.png">

        <script type="text/javascript" src="//cdn.syndication.twimg.com/widgets/timelines/441767385733668865?&amp;lang=en&amp;callback=twitterFetcher.callback&amp;suppress_response_codes=true&amp;rnd=0.22860729740932584"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/cat_js/maps-api-v3/api/js/18/0/%7Bcommon,util,geocoder,map%7D.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/cat_js/maps-api-v3/api/js/18/0/%7Bonion%7D.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/cat_js/maps-api-v3/api/js/18/0/%7Bstats%7D.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/cat_js/maps-api-v3/api/js/18/0/%7Bmarker,controls%7D.js"></script>
        @RenderSection("styles", required: false)
    </head>
<body id="top" class="fullscreen-image-background" style="display: block;">

	<!-- NAVBAR -->
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-brand">
					<img src="assets/img/loop-logo.png" alt="Loop Logo">
					<h1 class="hide">Parallax HTML One-Page Template</h1>
				</a>
			</div>
			<nav class="navbar-collapse collapse" id="main-nav" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#top">HOME</a></li>
					<li><a href="#about">ABOUT US</a></li>
					<li><a href="#services">SERVICES</a></li>
				    <li><a data-toggle="modal" data-target="#myModal">LOGIN</a></li>
                    <li><a data-toggle="modal" data-target="#myModal">REGISTER</a></li>
					</ul>
			</nav>
		</div>
	</div>
    <!-- END NAVBAR -->

    


    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
                          @using (Html.BeginForm("Login", "Account", new { ReturnUrl = "/Gig/#/create" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
              <section id="loginForm">

                  @Html.AntiForgeryToken()
                  <h4>Use a local account to log in.</h4>
                  <hr />
                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                  <div class="input-group margin-bottom-20">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="Email", @type="text"})
                      @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    
                  </div>
                  <div class="input-group margin-bottom-20">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      @Html.PasswordFor(m => m.Password, new { @class = "form-control",@placeholder="Password" })
                      @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                   
                  </div>

                  <label class="checkbox">
                      @Html.CheckBoxFor(m => m.RememberMe)
                      <p>Always stay signed in</p>
                  </label>
                   
                  <div class="form-group">
                      <div class="col-md-offset-2 col-md-10">
                          <input type="submit" value="Log in" class="btn btn-default" />
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <button type="submit" class="btn-u btn-block">Log In</button>
                      </div>
                  </div>
                  <p>
                      @Html.ActionLink("Register a new user?", "Register")
                  </p>
                  <p>
                      @Html.ActionLink("Forget your password?", "ForgotPassword")
                  </p>
                  
              </section>
          </div>
         <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Log In</button>
        </div>
}
      </div>
  </div>
</div>



    <!-- HERO UNIT -->
	<div id="hero-unit" class="hero-unit">
		<div class="hero-content text-center">
			<!-- Hero text -->
			<div id="slidecaption" class="slide-caption">
				<div class="hero-text">
					<h2 class="hero-heading">HANDCRAFTED</h2>
					<p>Built with care in mind to provide great visitor experience</p>
				</div>
			</div>
			<div class="hero-buttons">
				<a href="#about" id="btn-about" class="btn btn-info btn-lg"><i class="fa fa-arrow-circle-o-down"></i> READ MORE</a>
				<a href="#contact" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-phone-square"></i> GET IN TOUCH</a>
			</div>
		</div>
	</div>
	<!-- END HERO UNIT -->
	
 @RenderBody()

    <!-- MAIN CONTENT -->
	<div id="main-content" class="main-content">
		
		<!-- ABOUT -->
		<div id="about" class="section about">
			<div class="container">
				<div class="section-heading">
					<h2>ABOUT US</h2>
					<p>A great beginning to know us more</p>
					<hr>
				</div>
				<div class="section-content">
					<div class="row">
						<img src="assets/img/about-img.png" alt="About Us" class="img-left">
						<div class="col-lg-9 col-lg-offset-3">
							<h3>Don't Wait Until Tomorrow</h3>
							<p>Progressively maintain inexpensive information without intuitive markets. Quickly reconceptualize 2.0 imperatives without next-generation meta-services. Professionally conceptualize plug-and-play metrics without orthogonal information. Appropriately strategize dynamic infrastructures and turnkey channels. Seamlessly synthesize high-quality total linkage without distinctive intellectual capital.</p>

							<p>Completely reinvent business mindshare with superior strategic theme areas. Dramatically build reliable platforms without real-time e-tailers. Competently predominate covalent scenarios rather than future-proof content. Intrinsicly innovate holistic users whereas cost effective partnerships. Objectively transform collaborative outsourcing before an expanded array of services. Monotonectally provide access to next-generation imperatives rather than mission-critical materials. Seamlessly negotiate excellent services rather than web-enabled sources. Quickly actualize proactive niches rather than user friendly catalysts for change. Efficiently negotiate distributed experiences for alternative best practices. Efficiently.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END ABOUT -->

		<!-- SERVICES -->
		<div id="services" class="section darker services">
			<div class="container">
				<div class="section-heading">
					<h2>SERVICES</h2>
					<p>We strive to give the best service to our clients</p>
					<hr>
				</div>
				<div class="section-content">
					<div class="row">
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-checkmark2 service-icon"></span>
								<div class="service-text">
									<h3>Elegant Design</h3>
									<p>Quickly actualize proactive niches rather than user friendly catalysts for change.</p>
									<a href="#" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-pen service-icon"></span>
								<div class="service-text">
									<h3>Carefully Handcrafted</h3>
									<p>Quickly actualize proactive niches rather than user friendly catalysts for change.</p>
									<a href="#" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-lab service-icon"></span>
								<div class="service-text">
									<h3>Design Formula</h3>
									<p>Quickly actualize proactive niches rather than user friendly catalysts for change.</p>
									<a href="#" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="service-item">
								<span class="icon-phone service-icon"></span>
								<div class="service-text">
									<h3>Responsive</h3>
									<p>Quickly actualize proactive niches rather than user friendly catalysts for change.</p>
									<a href="#" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SERVICES -->

		<!-- CALL TO ACTION -->
		<div id="call-to-action" class="section call-to-action most-dark">
			<p class="wow fadeInUp" data-wow-offset="200" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;">Call us now and get more benefits</p>
			<p class="wow fadeInUp" data-wow-offset="200" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"><i class="fa fa-phone"></i> +621 234 5678</p>
		</div>
		<!-- END CALL TO ACTION -->

		<!-- WORKS -->
		<div id="works" class="section works">
			<div class="section-heading">
				<h2>WORKS</h2>
				<p>The best thing is when our work become part of client success</p>
				<hr>
			</div>
			<div class="section-content">				
				<ul class="list-inline work-item-filters">
					<li><a class="active" href="#" data-filter="*">ALL</a></li>
					<li><a href="#" data-filter=".design">DESIGN</a></li>
					<li><a href="#" data-filter=".photography">PHOTOGRAPHY</a></li>
					<li><a href="#" data-filter=".ui">UI</a></li>
					<li><a href="#" data-filter=".ux">UX</a></li>
					<li><a href="#" data-filter=".video">VIDEO</a></li>
				</ul>

				<div class="work-item-wrapper">
					<ul class="work-item-list list-col-4 isotope" style="position: relative; overflow: hidden; height: 798px;">
						<li class="work-item design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
							<img src="assets/img/portfolio/work1.jpg" alt="This is the description">
							<div class="image-overlay">
								<a href="assets/img/portfolio/work1-ori.jpg" class="media-popup" title="The Guitar">
									<div class="work-item-info">
										<h3>The Guitar</h3>
										<p>Work item brief description</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item video isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(479px, 0px, 0px);">
							<img src="assets/img/portfolio/work2.jpg" alt="Just paste the link and go">
							<div class="image-overlay">
								<a href="https://www.youtube.com/watch?v=ValQcoRwDic" class="mfp-iframe media-popup" title="Video Title">
									<div class="work-item-info">
										<h3>YouTube</h3>
										<p>Just paste the link and go</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item ux isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(958px, 0px, 0px);">
							<img src="assets/img/portfolio/work3.jpg" alt="Work item brief description">
							<div class="image-overlay">
								<a href="assets/img/portfolio/work3-ori.jpg" class="media-popup" title="Skyscraper">
									<div class="work-item-info">
										<h3>Skyscraper</h3>
										<p>Work item brief description</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item photography isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(1437px, 0px, 0px);">
							<img src="assets/img/portfolio/work4.jpg" alt="Work item brief description">
							<div class="image-overlay">
								<a href="assets/img/portfolio/work4-ori.jpg" class="media-popup" title="Heaven">
									<div class="work-item-info">
										<h3>Heaven</h3>
										<p>Work item brief description</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item design ux isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 399px, 0px);">
							<img src="assets/img/portfolio/work5.jpg" alt="Work item brief description">
							<div class="image-overlay">
								<a href="assets/img/portfolio/work5-ori.jpg" class="media-popup" title="Raining">
									<div class="work-item-info">
										<h3>Raining</h3>
										<p>Work item brief description</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item ui design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(479px, 399px, 0px);">
							<img src="assets/img/portfolio/work6.jpg" alt="Work item brief description">
							<div class="image-overlay">
								<a href="assets/img/portfolio/work6-ori.jpg" class="media-popup" title="The Edge">
									<div class="work-item-info">
										<h3>The Edge</h3>
										<p>Work item brief description</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item photography ux isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(958px, 399px, 0px);">
							<img src="assets/img/portfolio/work7.jpg" alt="Work item brief description">
							<div class="image-overlay">
								<a href="assets/img/portfolio/work7-ori.jpg" class="media-popup" title="The Light">
									<div class="work-item-info">
										<h3>The Light</h3>
										<p>Work item brief description</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
						<li class="work-item video isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(1437px, 399px, 0px);">
							<img src="assets/img/portfolio/work8.jpg" alt="Just paste the link and go">
							<div class="image-overlay">
								<a href="http://vimeo.com/82905738" class="mfp-iframe media-popup" title="Vimeo">
									<div class="work-item-info">
										<h3>Vimeo</h3>
										<p>Just paste the link and go</p>
										<i class="fa fa-search-plus"></i>
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END WORKS -->

		<!-- TEAM -->
		<div id="team" class="section team">
			<div class="container">
				<div class="section-heading">
					<h2>MEET THE TEAM</h2>
					<p>We are a group of skilled individual, various background with the same purpose</p>
					<hr>
				</div>
				<div class="section-content">
					<div class="col-md-5">
						<div class="team-member media">
							<img src="assets/img/person1.png" class="media-object img-circle pull-left" alt="">
							<div class="media-body">
								<h3 class="media-heading team-name">Michael Summer</h3>
								<strong>Executive Director</strong>
								<hr>
								<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="team-member media">
							<img src="assets/img/person2.png" class="media-object img-circle pull-left" alt="">
							<div class="media-body">
								<h3 class="media-heading team-name">Jane Doe</h3>
								<strong>Art Director</strong>
								<hr>
								<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="team-member media">
							<img src="assets/img/person3.png" class="media-object img-circle pull-left" alt="">
							<div class="media-body">
								<h3 class="media-heading team-name">Cindy Marry</h3>
								<strong>UI Designer</strong>
								<hr>
								<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2">
						<div class="team-member media">
							<img src="assets/img/person4.png" class="media-object img-circle pull-left" alt="">
							<div class="media-body">
								<h3 class="media-heading team-name">Phillips Abraham</h3>
								<strong>Front-end Developer</strong>
								<hr>
								<p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END TEAM -->

		<!-- TESTIMONIAL -->
		<div id="testimonial" class="section testimonial parallax">
			<div class="container">
				<div class="flexslider">
					<ul class="slides">
						<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 2; opacity: 1;">
							<div class="testimonial-text">
								<p><i class="fa fa-quote-left quote-left"></i>No wonder that the team has received so many awards and achievements.<i class="fa fa-quote-right quote-right"></i></p>
							</div>
							<div class="testimonial-author">
								<p class="author-name">- Jean</p>
								<p class="autor-title">Writer, All Design Magazine.</p>
							</div>
						</li>
						<li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;">
							<div class="testimonial-text">
								<p><i class="fa fa-quote-left quote-left"></i>The team is unbelievable awesome. Top-notch professional service.<i class="fa fa-quote-right quote-right"></i></p>
							</div>
							<div class="testimonial-author">
								<p class="author-name">- Alicia Brown</p>
								<p class="autor-title">CEO, Dreamland Inc.</p>
							</div>
						</li>
						<li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;">
							<div class="testimonial-text">
								<p><i class="fa fa-quote-left quote-left"></i>One word, SUPERB!<i class="fa fa-quote-right quote-right"></i></p>
							</div>
							<div class="testimonial-author">
								<p class="author-name">- Jack</p>
								<p class="autor-title">Art Director</p>
							</div>
						</li>
						<li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; display: block; z-index: 1; opacity: 0;">
							<div class="testimonial-text">
								<p><i class="fa fa-quote-left quote-left"></i>In case you need more reliable help so that you can do more, just call them.<i class="fa fa-quote-right quote-right"></i></p>			
							</div>
							<div class="testimonial-author">
								<p class="author-name">- Albert Doe</p>
								<p class="autor-title">Freelance UI Designer</p>
							</div>
						</li>
					</ul>
				<ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li></ol></div>
			</div>
		</div>
		<!-- END TESTIMONIAL -->

		<!-- CONTACT -->
		<div id="contact" class="section contact">
			<div class="section-heading">
				<h2>GET IN TOUCH</h2>
				<p>Now it's time to build a business and relationship</p>
				<hr>
			</div>
			<div class="section-content">
				<div class="google-map">
					<div id="map-canvas" style="position: relative; overflow: hidden; -webkit-transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 743px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 743px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 999px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 487px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 487px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 999px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 231px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 231px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1255px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1255px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -25px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -25px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1511px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1511px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -281px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -281px; top: 114px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1767px; top: -142px;"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1767px; top: 114px;"></div></div></div></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 743px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 743px; top: 114px;"><canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 999px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 487px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 487px; top: 114px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 999px; top: 114px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 231px; top: 114px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 231px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 1255px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 1255px; top: 114px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: -25px; top: 114px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: -25px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 1511px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 1511px; top: 114px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: -281px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: -281px; top: 114px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 1767px; top: -142px;"></div><div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 1767px; top: 114px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1;"><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 743px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9647!3i12319!2m3!1e0!2sm!3i273120555!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 743px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9647!3i12320!2m3!1e0!2sm!3i273130953!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 999px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9648!3i12319!2m3!1e0!2sm!3i273120546!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 487px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9646!3i12319!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 487px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9646!3i12320!2m3!1e0!2sm!3i273114641!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 999px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9648!3i12320!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 231px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9645!3i12320!2m3!1e0!2sm!3i273015269!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 231px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9645!3i12319!2m3!1e0!2sm!3i273047587!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1255px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9649!3i12319!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1255px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9649!3i12320!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -25px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9644!3i12320!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -25px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9644!3i12319!2m3!1e0!2sm!3i273066358!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1511px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9650!3i12319!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1511px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9650!3i12320!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -281px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9643!3i12319!2m3!1e0!2sm!3i273051815!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -281px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9643!3i12320!2m3!1e0!2sm!3i273051815!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1767px; top: -142px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9651!3i12319!2m3!1e0!2sm!3i273053375!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div><div style="width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 1767px; top: 114px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i9651!3i12320!2m3!1e0!2sm!3i273000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC52Om9uLHMudDo4MnxwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZjBmMGYwLHMudDo2fHAudjpzaW1wbGlmaWVkfHAuYzojZmZDMkU3RjUscy50OjQ5fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAuYzojZmZmZmZmZmYscy50OjUxfHMuZTpnLnN8cC52Om9mZixzLnQ6NTF8cy5lOmwuaXxwLnY6b2ZmLHMuZTpsLnQuZnxwLnY6b258cC5jOiNmZjY0NjQ2NCxzLnQ6NTF8cy5lOmcuZnxwLnY6b258cC53OjF8cC5jOiNmZmZmZmZmZixzLnQ6NDB8cy5lOmcuZnxwLmw6OTB8cC5jOiNmZmQ3ZDdkN3xwLnY6b2ZmLHMudDo0fHMuZTpnfHAudjpvbnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6bC50LmZ8cC52Om9ufHAuYzojZmZiOGI4Yjgscy50OjgxfHMuZTpnfHAudjpvbnxwLmw6NjB8cC5zOi05MHxwLmc6MC45!4e0" draggable="false" style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="http://maps.google.com/maps?ll=40.712784,-74.005941&amp;z=15&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 62px; height: 26px; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 62px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 72px; bottom: 0px; width: 122px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="">Map data ©2014 Google</span></div></div></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 802px; top: 60px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2014 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2014 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; position: absolute; -webkit-user-select: none; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a href="http://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; display: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a target="_new" title="Report errors in the road map or imagery to Google" href="http://maps.google.com/maps?ll=40.712784,-74.005941&amp;z=15&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3&amp;skstate=action:mps_dialog$apiref:1&amp;output=classic" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint" draggable="false" controlwidth="32" controlheight="84" style="margin: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px;"><div controlwidth="32" controlheight="40" style="cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; position: absolute; left: 0px; top: 0px;"><div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -9px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -107px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -58px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="position: absolute; left: -205px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></div><div class="gmnoprint" controlwidth="0" controlheight="0" style="opacity: 0.6; display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 22px; height: 22px; overflow: hidden; position: absolute; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -38px; top: -360px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></div><div class="gmnoprint" controlwidth="20" controlheight="39" style="position: absolute; left: 6px; top: 45px;"><div style="width: 20px; height: 39px; overflow: hidden; position: absolute;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="position: absolute; left: -39px; top: -401px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div title="Zoom in" style="position: absolute; left: 0px; top: 2px; width: 20px; height: 17px; cursor: pointer;"></div><div title="Zoom out" style="position: absolute; left: 0px; top: 19px; width: 20px; height: 17px; cursor: pointer;"></div></div></div><div class="gmnoprint" style="margin: 5px; z-index: 0; position: absolute; cursor: pointer; right: 0px; top: 0px;"></div></div></div>
				</div>
				<div class="contact-info">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<i class="fa fa-map-marker"></i>
								<h3>Address</h3>
								<p>12345 North Main Street<br>New York, 22334455</p>
							</div>
							<div class="col-md-4">
								<i class="fa fa-envelope"></i>
								<h3>Contact</h3>
								<p>+621 234 4567<br><a href="mailto:hello@yourcompany.com">hello@yourcompany.com</a></p>
							</div>
							<div class="col-md-4">
								<i class="fa fa-user"></i>
								<h3>Join Us</h3>
								<p>Send your latest CV to<br><a href="mailto:career@yourcompany.com">career@yourcompany.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END CONTACT -->

		<!-- TWITTER STREAM -->
		<div id="twitter-stream" class="section twitter-stream">
			<div class="container">
				<div class="twitter-icon">
					<i class="fa fa-twitter"></i>
				</div>
				<div id="tweet"><ul><li><p class="tweet">Can your browser do THIS? <a href="http://t.co/kutN9bUyAv" data-pre-embedded="true" data-scribe="">pic.twitter.com/kutN9bUyAv</a></p><p class="timePosted">Posted on 01 Sep</p></li></ul></div>
			</div>
		</div>
		<!-- END TWITTER STREAM -->

	</div>
	<!-- END MAIN CONTENT -->

	<!-- FOOTER -->
	<footer id="footer" class="section">
		<div class="container">
			<p class="copyright pull-left">© 2014. The Develovers. All Rights Reserved.</p>
			<ul class="list-inline pull-right social-icon">
				<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
	</footer>
	<!-- END FOOTER -->

	<div class="back-to-top">
		<a href="#top"><i class="fa fa-chevron-up"></i></a>
	</div>

	<!-- JAVASCRIPT -->
	<script src="~/assets/landing/js/jquery-2.1.0.min.js"></script>
	<script src="~/assets/landing/js/bootstrap.min.js"></script>
	<script src="~/assets/landing/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="~/assets/landing/js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="~/assets/landing/js/jquery.easing.min.js"></script>
	<script src="~/assets/landing/js/jquery.parallax-1.1.3.js"></script>
	<script src="~/assets/landing/js/google-map.js"></script>	
	<script src="~/assets/landing/js/twitter-fetcher.js"></script>
	<script src="~/assets/landing/js/imagesloaded.pkgd.js"></script>
	<script src="~/assets/landing/js/jquery.isotope.js"></script>
	<script src="~/assets/landing/js/wow.js"></script>
	<script src="~/assets/landing/js/jquery.flexslider-min.js"></script>
	<script src="~/assets/landing/js/jpreloader.min.js"></script>
	<script src="~/assets/landing/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/landing/js/loop.min.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initParallaxBg();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
    <![endif]-->
    @RenderSection("scripts", required: false)

    @RenderSection("ngscripts", required: false)


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbJ16uUP1tqA_-qsojvMCBV12V71rukHA&amp;sensor=true&amp;callback=initialize"></script><script src="https://maps.gstatic.com/maps-api-v3/api/js/18/0/main.js"></script></body>

</html>
