<!DOCTYPE html>
<html ng-app="@ViewBag.InitModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi-Five</title>

    
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/image-hover/css/img-hover.css">
    <link rel="stylesheet" href="~/assets/css/pages/page_job.css">
    <link rel="stylesheet" href="~/assets/css/themes/default.css" id="style_color">


    <link href="~/assets/less/kicker.css" rel="stylesheet" />
 @*   <link href="~/Content/less/navigation.css" rel="stylesheet" />*@
    
<!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700" rel="stylesheet" type="text/css">

    @RenderSection("styles", required: false)

</head>
<body flow-prevent-drop>


 <div class="wrapper header-fixed">
      
        <div class="header header-fixed-shrink">
            <!-- Navbar -->
         @Html.Partial("_NavbarPartial")
            <!-- End Navbar -->
        </div>

        @* Body Starts here *@
        @RenderBody()
        <!--=== Footer Version 3 ===-->
        
        @Html.Partial("_FooterPartial")
        

        <!--/End Wrapepr-->


    </div>


    <!-- JS Global Compulsory -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-migrate-1.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/assets/plugins/image-hover/js/modernizr.js"></script>
    <script type="text/javascript" src="~/assets/plugins/image-hover/js/touch.js"></script>

    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initParallaxBg();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
    <![endif]-->
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/jquery.ui.totop.js"></script>*@
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/custom/fiveplus.custom.js"></script>

    @* Angular Scripts *@
    @* changed from 1.2.9 *@
    <script type="text/javascript" src="https://code.angularjs.org/1.3.8/angular.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.8/angular-route.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.8/angular-messages.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-sanitize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

    <script src="~/ng-App/directives/directives.js"></script>
    <script src="~/ng-App/data/dataServices.js"></script>
    <script src="~/ng-App/filters/filters.js"></script>

    @RenderSection("ngscripts", required: false)
    

</body>



</html>
